.navbar-brand-box{padding: 0;width: auto;}
.navbar-brand-box a{color: #fff;font-size: 18px;}

#sidebar-menu .title{border-bottom: 1px solid #eff2f7;}
#sidebar-menu .title a{padding: .825rem 1.5rem !important;display: block;color: #252b3b !important;}

.vertical-collpsed #sidebar-menu .title{border-bottom: 1px solid #eff2f7;}
.vertical-collpsed #sidebar-menu .title a{padding: .825rem 0.5rem !important;font-size: 12px;text-align: center;}

.nav-tabs-custom .nav-item .nav-link.active{font-weight: 600;}

@media screen and (max-width: 767px) {
	table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:inherit !important}
}

@media screen and (max-width: 1024px) {
	table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:inherit !important}
}

.foto .imgWrap img {
	width: 100%;
	height: 170px;
	border: 1px solid #ddd;
	background: white;
}

.foto .imgWrap a {
	display: block;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;

}

.foto .imgWrap .galeriSira {
	display: block;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	padding-left: 36px;

}

.foto .row1 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 24px;
	margin-left: 24px;
}

 .foto .imgWrap .card {
	border: 0;
	border-radius: 10px;
}

.foto .imgWrap1 img {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	background: white;
	object-fit: contain;
}

.foto .imgWrap1 a {
	display: block;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;

}

.foto .imgWrap1 .galeriSira {
	display: block;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	padding-left: 36px;

}

.foto .imgWrap1 .card {
	border: 0;
	border-radius: 10px;
}